1. Explain with example of each when to use a for loop and a while loop.

In [ ]:
for loop :- 
A for loop is a control flow statement that executes code for a predefined number of iterations. When the number of iterations is already knownn, for loop is used.
Example : To print all of the elements of l list,

In [4]:
## for loop
l = [10,20,30,40,50,60,70,80,90,100]
print("List elements are:")
for i in l:
    print(i)

List elements are:
10
20
30
40
50
60
70
80
90
100

In [ ]:
while loop :- A while loop runs a single statement or a set of statements for a given true conditions. It is used when the number of iterations isn't known.
Example : To print numbers less than a finite limit.

In [9]:
## while loop
i = 1
while i <=10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

2. Write a program to print the sum and product of the first 10 natural numbers using for and while loop.

In [15]:
## While loop
n , s , p = 1 , 0 , 1
while n <= 10:
    s = s + n
    p = p * n
    n = n + 1
print("Sum of 1st 10 Natural number = ",s)
print("Product of 1st 10 Natural number = ",p)

Sum of 1st 10 Natural number =  55
Product of 1st 10 Natural number =  3628800

In [18]:
## for loop
s , p = 0 , 1
for i in range(1,11):
    s = s + i
    p = p * i
print("Sum of 1st 10 Natural number = ",s)
print("Product of 1st 10 Natural number = ",p)

Sum of 1st 10 Natural number =  55
Product of 1st 10 Natural number =  3628800

3. Create a python program to complete the electricity bill for a household.

In [5]:
unit = float(input("Enter unit consumed"))
if unit <= 100:
    amount = unit * 4.5
elif unit <= 200 and unit > 100:
    amount = unit * 6
elif unit <= 300 and unit > 200:
    amount = unit * 10
else:
    amount = unit * 20
print("Total Payable amount is Rs",amount)

Enter unit consumed 90

Total Payable amount is Rs 405.0

4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.

In [19]:
# creating initial list
list_num = []
for i in range(1,101):
    list_num.append(i)

# Appending the eligible cubes to the list
list_cube = []
for i in list_num:
    cube = i**3
    if cube % 4 == 0 or cube % 5 == 0 :
        list_cube.append(i)
list_cube

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [1]:
# creating initial list
list_num = []
i = 1
while i <= 100:
    list_num.append(i)
    i = i + 1
# Appending the eligible cubes to the list
list_cube = []
i = 1
while i <= len(list_num):
    cube = i**3
    if cube % 4 == 0 or cube % 5 == 0 :
        list_cube.append(i)
    i = i + 1
list_cube

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

5. Write a program to filter count vowels in the below-given string.
    string = "I want to become a data scientist"

In [3]:
string  = "I want to become a data scientist"
count = 0
for i in string:
    if i == 'a' or i == 'A' or i == 'e' or i == 'E' or i == 'i' or i == 'I' or i == 'o' or i == 'O' or i == 'u' or i == 'U' :
        count = count + 1
print(count)

12